<%= render "layouts/error", obj: @user %>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-10 col-lg-8 col-xl-6">

      <h2>User info</h2>
      
      <%= form_with model:@user, url: user_path(@user), local:true do |f| %>

      <div class="field">
        <%= f.label :Name %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :Image %> <br>
        <%= f.attachment_field :profile_image %>
      </div>

      <div class="field">
        <%= f.label :Introduction %>
        <%= f.text_area :introduction, class: "form-control" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Update User", class: "btn btn-secondary btn-sm" %>
      </div>
      
      <% end %>

    </div>
  </div>
</div>
