<div class="container">
  <div class="row">
    <div class="col-3">
    
      <h2>User Info</h2>
      <%= render "users/info", user: current_user%>
      
      <h2>New Book</h2>
      <%= render "books/new", book: Book.new %>
    
    </div>
    
    <div class="col-8 offset-1">
      <h2>Users</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 10, 10, fallback: "no-image-icon.jpg" %></td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", user_path(user) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


  </div>
</div>
