<div class="container">
  <div class="row">
    <div class="col-3">
    
      <h2>User Info</h2>

      <table class="table">
        <tr>
          <%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg" %>
        </tr>
        <tr>
          <th>name</th>
          <th><%= @book.user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @book.user.introduction %></th>
        </tr>
      </table>

      <div>
      <% if @book.user == current_user %>
        <%= link_to edit_user_path(@book.user) do %>
          <button class="btn btn-block btn-outline-secondary"><i class="fas fa-user-cog"></i></button>
        <% end %>
      <% end %>
      </div>
      
      <h2>New Book</h2>

      <%= form_with model:@book, url:books_path, local:true do |f| %> 

      <div class="field">
        <%= f.label :Title %>
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
      </div>

      <div class="field">
        <%= f.label :Opinion %>
        <%= f.text_area :body, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Create Book", class: "btn btn-success btn-sm" %>
      </div>
      <% end %>
    </div>
    
    <div class="col-8 offset-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <tr>
          <td>
            <%= link_to user_path(@book.user) do %>
              <%= attachment_image_tag @book.user, :profile_image, :fill, 10, 10, fallback: "no-image-icon.jpg" %><br>
              <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></th>
          
          <% if @book.user == current_user%>
          <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
          <td><%= link_to "Delete", book_path(@book), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "本当に消しますか？"} %></td>
          <% end %>
        </tr>
      </table>
    </div>


  </div>
</div>
